/* font family  */

/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v21-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3{
  margin: 0;
}
button{
  font-family: inherit;
}
html, body{
  margin: 0;
}
body{
  margin: 0;
  padding-block: 24px ;
  min-height: 100vh;
}

@media (width > 28.125rem) {
body{
  padding-block: 40px ;
}
 }
@media (width > 50rem) {
body{
  padding-block: 55px ;
}
 }
 

/* using custom properties and em gonna save my colors in HSL  */

:root {
  --white: hsl(0, 0%, 100%);
  --space-sm: 24px;
  --blue: hsl(220, 50%, 17%);
  --space-med: 64px;
  --orange-lt: hsl(22, 100%, 69%);
  --space-lg: 120px;
  --orange: hsl(22, 89%, 52%);
  --blue-lt: hsl(221, 23%, 58%);
  --gray-lt: hsl(198, 28%, 93%);
}
  
 .button{
  font-size:1rem ;
  line-height: 1.625;
  font-weight: 700;
  padding: 16px 26px ;
  font-family: 'Poppins';
  border: 0;
  border-radius: 8px;
  text-transform: uppercase;
  transition: 150ms ease-in-out;
  transition-property:background-color, color ;
  
 }
 .button.blue:hover{
  background-color: var(--blue);
  color: var(--gray-lt);
  cursor: pointer;
 }
 .button.blue{ 
  background-color: var(--gray-lt);
  color: var(--blue);
 }
 .button.orange{
  background-color: var(--orange-lt);
 }

 .main-section{
display: grid;
grid-template-columns:1fr min(100% - 40px , 50rem) 1fr ;
 }
 @media (width > 28.125rem) {
  .main-section{
    grid-template-columns:1fr min(100% - 80px , 50rem) 1fr ;
  }
 }
 .main-content{
  grid-column: 2 / 3;
 }
 .mynav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 }