/* font family  */

/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v21-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --orange: hsl(22, 89%, 52%);
  --orange-lt: hsl(22, 100%, 69%);
  --blue: hsl(220, 50%, 17%);
  --blue-lt: hsl(221, 23%, 58%);
  --gray-lt: hsl(198, 28%, 93%);
  --white: hsl(0, 0%, 100%);
  --space-sm: 24px;
  --space-med: 64px;
  --space-lg: 120px;
  --bluecol:#4e69ff;
  --pink:#e28cb3;
  --navy:#6c81f5;
}

/* scrollbar  */
::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-track{
background: var(--gray-lt);
}
::-webkit-scrollbar-thumb{
background: linear-gradient(#642bff,#e0a3d9);
border-radius: 10px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--blue);
  margin: 0;
  padding-block: 24px;
  min-height: 100vh;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  scroll-padding-block: var(--bluecol);
  background-color:black;
 
}
h1,
h2,
h3 {
  margin: 0;   
  font-weight: 900;
  text-transform: uppercase;
}



h1 {
  font-size: 3rem;
  color:var(--pink) ;
  font-size: clamp(3rem, 2.111111111111111rem + 1.8518518518518516vw, 3.5rem);
  line-height: 1;
  max-width: 18ch;
  animation: load 1s ease forwards ;
  transform: scale(0);

}
img.mine{
  animation: pop 1s ease forwards;

}
@keyframes pop{
  0%{
    transform: translateX(100%);
  }
  80%{
    transform: translateX(-3%);
  }
  100%{
    transform: translateX(0%);
  }
  
}
@keyframes go{
  0%{
    transform: translateX(-100%);
  }
  80%{
    transform: translateX(1%);
  }
  100%{
    transform: translateX(0%);
  }
  
}

@keyframes load{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
  
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9431818181818182rem + 0.24242424242424243vw,
    1.125rem
  );
  line-height: 1.625;
  color: var(--blue-lt);
  max-width: 45ch;
  margin: 0;
}

p.small {
  font-size: 1rem;
}

p + p {
  margin-top: 1rem;
}

p > strong {
  font-weight: 700;
}

strong.caps {
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
  filter: drop-shadow(0 0 15px var(--orange-lt));
}

button {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

.button {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625;
  text-transform: uppercase;
  padding: 11px 14px;
  border: 0;
  border-radius: 8px;
  transition: 150ms ease-in-out;
  transition-property: background-color, color;
  
}
a.smooth{
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}

img.anim{
  animation: come 5s ease forwards;
}
@keyframes come{
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
.button.blue {
  background-color: var(--gray-lt); */
   color: var(--blue);
  animation: pop 1s ease forwards ;
  border-radius:7px 24px 7px ;
  filter: drop-shadow(0 0 5px var(--blue-lt));
  

}

.button.blue:hover {
  background-color: var(--blue);
  color: var(--white);
}

.button.orange {
  background-color: var(--orange);
  color: var(--white);
  margin-top: 8px;
  animation: go 1s ease forwards ;
  border-radius:7px 24px 7px ;
  filter: drop-shadow(0 0 5px var(--orange-lt));
}

.button.orange:hover {
  background-color: var(--orange-lt);
  color: var(--white);
}

picture {
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(0 0 4px var(--white));
}

picture.flush-left {
  border-radius: 0 20px 20px 0;
}

picture.flush-right {
  border-radius: 20px 0 0 20px;
}

.grid-main {
  display: grid;
  grid-template-columns:
    4px
    repeat(3, calc((100% - 48px - 20px * 2) / 3))
    4px;
  column-gap: 20px;
  align-items: center;
}

.topnav a {
  grid-column: 2;
}

.topnav button {
  grid-column: 3 / -2;
  justify-self: end;
}

.hero {
  padding-block: var(--space-med) var(--space-sm);
  row-gap: var(--space-med);
}
  
h2.headline{
  color: var(--navy);
}
.hero-text {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 32px;
  align-items: center;
}

.hero-text > * {
  grid-column: 1 / -1;
}

.hero-text .button,
.hero-text .info {
  grid-column: span 1;
}

.hero-image {
  grid-column: 2 / -1;
  border-radius: 20px 0 0 20px;
}

.hero-image img {
  height: 20.6875rem;
  object-position: left center;
} 

.gray-block {
  display: none;
  height: 240px;
  border-radius: 20px 0 0 20px;
  background-color: #e28cb3; 
  filter: drop-shadow(0 0 7px var(--orange-lt));
  
 
}

.details {
  row-gap: var(--space-med);
}

.details-image {
  align-self: stretch;
}

.details-image img {
  width: 100%;
  height: 100%;
}

.details-image:nth-child(2) {
  grid-column: 1 / 3;
  border-radius: 0 20px 20px 0;
  position: relative;
}

.details-image:nth-child(2)::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--orange);
  opacity: 0.9;
  mix-blend-mode: multiply;
}

.details-image:nth-child(3) {
  grid-column: 3 / -2;
}

.details-text {
  grid-column: 2 / -2;
  text-align: center;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
}
   
.features {
  row-gap: var(--space-med);
  padding-block-start: var(--space-lg);
}

.feature {
  grid-column: 2 / span 3;
  display: grid;
  justify-items: center;
  text-align: center;
}

.feature .icon {
  width: 4.0625rem;
  height: 4.0625rem;
  margin-block-end: 48px;
  background-color: var(--orange);
  border-radius: 16px;
  display: grid;
  place-items: center;
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 2;
}
.feature .icon:hover{
  /* text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s; */


 -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
cursor: pointer;

}



.feature .icon img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.feature h3 {
  margin-block-end: 24px;
  color: var(--navy);
}

.brand {
  text-align: center;
  padding-block-start: var(--space-lg);
  position: relative;
 
}

.brand > p.two {
  max-width: none;
}

/* MEDIA QUERIES */

/* 700px */
@media (width >= 43.75em) {
  :root {
    --space-sm: 40px;
    --space-med: 72px;
    --space-lg: 140px;
  }
  img.mine{
    margin-top: 15px;
  }
  body {
    padding-block: 40px;
  }

  .button {
    padding: 16px 26px;
  }

  .grid-main {
    display: grid;
    grid-template-columns:
      10px
      repeat(6, calc((100% - 80px - 30px * 5) / 6))
      10px;
    column-gap: 30px;
  }

  .hero-text {
    grid-column: 2 / 6;
  }

  .hero-image {
    grid-column: 6 / -1;
  }

  .hero-image img {
    height: 26.5625rem;
  }

  .details-image:nth-child(2) {
    grid-column: 2 / 4;
    border-radius: 20px;
  }

  .details-image:nth-child(3) {
    grid-column: 4 / -2;
  }

  .details-text {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .feature {
    justify-items: start;
    text-align: left;
    /* max-width: 17.5625rem; */
  }

  .feature:nth-child(even) {
    grid-column: 5 / span 3;
  }

  .feature h3 {
    max-width: 14ch;
  }
}

/* 1200px */
@media (width >= 75em) {
  :root {
    --space-lg: 160px;
  }
 
  body {
    padding-block: 55px;
  }

  .grid-main {
    display: grid;
    grid-template-columns:
      1fr
      repeat(12, calc((69.375rem - 30px * 11) / 12))
      1fr;
    gap: 30px;
  }

  .hero-text {
    grid-column: 2 / 8;
    column-gap: 32px;
  }

  .hero-text .info {
    justify-self: start;
  }

  .hero-image {
    grid-column: 8 / -2;
    border-radius: 20px;
  }

  .hero-image img {
    height: 30rem;
  }

  .gray-block {
    display: block;
    grid-column: -2 / -1;
    align-self: start;
  }

  .details .gray-block {
    grid-column: 1 / 2;
    border-radius: 0 20px 20px 0;
    align-self: end;
  }

  .details-image:nth-child(2) {
    grid-column: 2 / 5;
    border-radius: 20px;
  }

  .details-image:nth-child(3) {
    grid-column: 5 / 10;
  }

  .details-text {
    grid-column: 11 / -2;
    flex-direction: column;
  }

  .feature,
  .feature:nth-child(even) {
    grid-column-start: auto;
  }

  .feature:nth-child(1) {
    grid-column-start: 2;
  }   
}  



/* footer section  */

ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 25px;
  justify-items: center;
  margin: auto;
  text-decoration: none;
}

@media (width > 31.25em) {
  ul { 
    grid-auto-flow: column;
  }
  

}
/* @media (width < 31.25em)
{
  img.foot{
    display: flex;
    justify-content: flex-start;
    align-items: first baseline;
    margin: -170%;
  }
} */


a.links {
  color: white;
  text-decoration: none;
  /* margin: 1rem; */
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a.links:hover {
  text-shadow: 0 0 25px rgb(226, 45, 45);
  
}

li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

li:hover ~ li p.para{
  animation: wave 2s infinite;
}
p.para{
   font-size: 2rem;
   text-shadow: 0 0 25px rgb(226, 45, 45);
}
img.social{
  cursor: pointer;
  width: 35px;
  height: 35px;

}

@media (width > 22em){
  .footer{
    display: flex;
    justify-content: space-around;
  }
  img.social{
    width: 25px;
    height: 25px;
  }
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }   
    h4{
      font-size: 1.3rem;
      text-align: center;
      margin-left:-45px;
      margin-top: 4px;
    }
   
    
  }

.footer{
  display: flex;
min-height: 30vh;
  width: 100%;
  /* background-color: var(--blue); */



  
  font-size: 0.8em;
  background-color: #222;
  background-image: linear-gradient(25deg, transparent 65%, #1474b8, transparent 70%), linear-gradient(-25deg, transparent 65%, #1474b8, transparent 70%), linear-gradient(-25deg, transparent 30%, #1474b8, transparent 35%), linear-gradient(25deg, transparent 30%, #1474b8, transparent 35%), linear-gradient(65deg, transparent 65%, #1474b8, transparent 70%), linear-gradient(-65deg, transparent 65%, #1474b8, transparent 70%), linear-gradient(-65deg, transparent 30%, #1474b8, transparent 35%), linear-gradient(65deg, transparent 30%, #1474b8, transparent 35%);
  background-size: 5em 2em, 5em 2em, 5em 2em, 5em 2em, 2em 5em, 2em 5em, 2em 5em, 2em 5em;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  position: relative;
  
  border-radius:7px 24px 7px ;
  filter: drop-shadow(0 0 5px var(--blue-lt));
}
h4{
  font-size:1.6rem ;
  text-align: center;
  position: absolute;
  top: 3%;
  left: 44%;
  
  color: var(--orange-lt);
}
.foot{
  width: 50px;
}
a.move{
  position:absolute ;
  top:33%;
  left: 19%;
}
@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}





#patt1 path {
  stroke: #ff509e;
}

#patt2 path {
  stroke: #95d13c;
}

#patt3 path {
  stroke: #00b6cb;
}

#patt4 path {
  stroke: #9753e1;
}

#mask1 rect {
  -webkit-animation: pulse 1.90476s infinite;
          animation: pulse 1.90476s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#mask2 rect {
  x: 10;
  -webkit-animation: pulse 1.90476s infinite 0.47619s;
          animation: pulse 1.90476s infinite 0.47619s;
  -webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#squiggle1, #squiggle2, #squiggle3, #squiggle4 {
  background-blend-mode: multiply;
}

@-webkit-keyframes pulse {
  0% {
    x: 10;
  }
  50% {
    x: -20;
  }
  100% {
    x: -50;
  }
}

@keyframes pulse {
  0% {
    x: 10;
  }
  50% {
    x: -20;
  }
  100% {
    x: -50;
  }
}

svg{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}